dist: trusty
sudo: required
language: java
jdk:
  - openjdk7
  - oraclejdk8
before_install:
  - wget https://github.com/xetorthio/jedis/archive/865a5bf106cae448676b52f5e7c6c6feb7cd2499.zip
  - unzip 865a5bf106cae448676b52f5e7c6c6feb7cd2499.zip
  - cp -rT jedis-865a5bf106cae448676b52f5e7c6c6feb7cd2499 ./
  - rm -r jedis-865a5bf106cae448676b52f5e7c6c6feb7cd2499
  - rm 865a5bf106cae448676b52f5e7c6c6feb7cd2499.zip
    - wget -O stunnel.tar.gz ftp://ftp.stunnel.org/stunnel/archive/5.x/stunnel-5.29.tar.gz
    - tar -xvzf stunnel.tar.gz
    - cd ./stunnel-5.29 && ./configure && make && sudo make install && cd ..
install:
  - make travis-install
script: TEST="\!ModuleTest" make test
cache:
  directories:
    - $HOME/.m2
addons:
  hostname: jedis
